{#
  Core Layout
  --------------------------------------------------
#}


{# Include Macros #}
{% import '../_macros/_macros.html' as _m %}


<!DOCTYPE html>
<html class="no-js {% if htmlClass is defined %}{{ htmlClass }}{% endif %}" lang="en-US">
<head>
  <title>{% block appTitle %}DEVELOPMENT &mdash; dhBoilerplate{% endblock %}</title>

  {# Preloader #}
  {% include '../_partials/_global/_preloader.html' %}

  {# Meta #}
  {% include '../_partials/_header/_meta.html' %}

  {# Scripts #}
  {% include '../_partials/_header/_scripts.html' %}

  {# Favicon #}
  {% include '../_partials/_header/_favicons.html' %}

</head>
<body 
    {% if bodyID is defined %}id="{{ bodyID }}"{% endif %} 
    {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}
>

  {% block coreContent %}
    Content
  {% endblock %}
  
</body>
</html>
